h1.org {
	color: pink;

}

body h1.org{
	color: fuchsia;
}

body h1.org{
	color: brown !important;
}

h1{
	text-transform: uppercase;
	font-style: italic;
	font-weight: 100;
	font-family: monospace;
	letter-spacing: 20px;
	line-height: 160px;
	text-align: right;
	text-decoration: line-through;
	color: red;
}

div.caixa{
	border: 1px dashed red;
	width: 50%;
	margin: 50px;
	padding: 30px;
	float: left;
}

body div.logo{
	width: 30px;
	float: right;

}